			*{
				margin: 0px;
				padding: 0px;
			}
			.clock{
				width: 600px;
				height: 600px;
				background: url(../images/clock.jpg) no-repeat;
				margin: 0px auto;
				position: relative;
			}
			.clock div{
				width: 600px;
				height: 600px;
				position: absolute;
				left: 0px;
				top: 0px;
			}
			.hour{
				background: url(../images/hour.png) no-repeat center center;
			}
			.minute{
				background: url(../images/minute.png) no-repeat center center;
			}
			.second{
				background: url(../images/second.png) no-repeat center center;
			}